:root {
  --gradient: linear-gradient(
  90deg,
  #7DCE82,
  #EE964B,
  #BD4F6C
  ) ;
}

body {
  background-position: left;
  background-size: 300%;
  background-image: var(--gradient);
  -webkit-animation: bg-animation 20s infinite alternate;
          animation: bg-animation 20s infinite alternate;
}

#logo {
  display: none;
}

#logo-s {
  display: inline-block;
}

#logo-ie {
  display: none;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
}

.canvas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: auto;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #298DAC;
  -webkit-box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.6);
}
.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #298DAC;
}
.content__img-wrap {
  margin-top: 20px;
  border-radius: 5px;
}
.content__img {
  border-radius: 5px;
}
.content__btn-wrap {
  margin-top: 20px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.content__field-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  margin-top: 20px;
}
.content__field-label {
  color: white;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.profile__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile--email {
  font-size: 10px;
  color: white;
  text-decoration: none;
}
.profile--link img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-size: cover;
  margin: 20px;
}
.profile--image-box {
  height: 100px;
  width: 100px;
  margin: 10px;
}
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #EC8932;
  color: white;
}
.btn:hover {
  background-color: #E07415;
}
.btn:active {
  background-color: white;
  border-color: white;
  color: #EC8932;
}

#delete-0,
#delete-1,
#delete-2,
#delete-3,
#delete-4 {
  display: none;
  background-color: #298DAC;
  color: white;
  border-radius: 50%;
  border: 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
}
#delete-0:hover,
#delete-1:hover,
#delete-2:hover,
#delete-3:hover,
#delete-4:hover {
  cursor: pointer;
}

.hp-link {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}
.hp-link > a {
  color: white;
}

.user {
  width: 100%;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.email {
  text-align: center;
  color: white;
  font-size: 600;
  margin: 20px;
}

.url {
  color: white;
}

.blocks-end {
  margin: 20px;
  color: white;
  text-align: center;
}
.blocks-end > a {
  text-decoration: underline;
  color: white;
}

_:-ms-fullscreen, :root #logo-s {
  display: none;
}

_:-ms-fullscreen, :root #logo-ie {
  display: block;
}

_:-ms-fullscreen, :root body {
  background-image: linear-gradient(90deg, #7DCE82, #EE964B, #BD4F6C);
}