@use '../abstracts' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width:            100%;
  height:           100vh;
  font-family: 'Work Sans', sans-serif;
}

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: auto;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: $blue;
  box-shadow: 2px 2px 15px 2px rgba(0, 0 , 0, 0.6);

  &__header {
    display: flex;
    justify-content: center;
    width:100%;
    height: auto;
    border-radius: 5px;
    background-color: $blue;
  }

  &__img-wrap {
    margin-top: 20px;
    border-radius: 5px;
  }

  &__img {
    border-radius: 5px;
  }

  &__btn-wrap {
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-around;

  }

  &__field {
  &-wrap {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 20px;
  }
  &-label {
    color: white;
  }
  }
}

.profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--email {
    font-size: 10px;
    color: white;
    text-decoration: none;
  }

  &--link{

    & img {
      border-radius: 50%;
      height:100px;
      width: 100px;
      background-size: cover;
      margin: 20px;
    }
  }

  &--image-box {
    height:100px;
    width: 100px;
    margin: 10px;
  }

  &--image {

  }

}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: $orange-2;
  color: white;
  // box-shadow: 0px 2px 4px 1px rgba(0, 0 , 0, 0.6);

  &:hover {
    background-color: $orange-2-drk;
  }

  &:active {
    background-color: white;
    border-color: white;
    color: $orange-2;
  }
}
#delete-0,
#delete-1,
#delete-2,
#delete-3,
#delete-4 {
  display: none;
  background-color: $blue;
  color: white;
  border-radius: 50% ;
  border: 0;
  height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
}
