.hp-link {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  & > a {
  color: white;
  }
}

.user {
  width: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.email {
  text-align: center;
  color: white;
  font-size: 600;
  margin: 20px;
}

.url {
  color: white;
}

.blocks-end {
  margin: 20px;
  color: white;
  text-align: center;
  & > a {
    text-decoration: underline;
    color: white;
  }
}
